@-webkit-keyframes flipped { from { transform: rotateY(0deg); } to { transform: rotateY(180deg); }  }
@-moz-keyframes flipped { from { transform: rotateY(0deg); } to { transform: rotateY(180deg); }  }
@-o-keyframes flipped { from { transform: rotateY(0deg); } to { transform: rotateY(180deg); }  }
@keyframes flipped { from { transform: rotateY(0deg); } to { transform: rotateY(180deg); }  }

@-webkit-keyframes not-flipped { from { transform: rotateY(180deg); } to { transform: rotateY(0deg); }  }
@-moz-keyframes not-flipped { from { transform: rotateY(180deg); } to { transform: rotateY(0deg); }  }
@-o-keyframes not-flipped { from { transform: rotateY(180deg); } to { transform: rotateY(0deg); }  }
@keyframes not-flipped { from { transform: rotateY(180deg); } to { transform: rotateY(0deg); }  }

.card {
  perspective: 1000px;
  position: relative;
  margin: 5px;
  cursor: pointer;
  width: 150px;
  height: 200px;
  border-radius: 10px;
}

.flipped .front {
  -webkit-animation: flipped 0.5s linear 0s 1 normal forwards;
  -moz-animation: flipped 0.5s linear 0s 1 normal forwards;
  -o-animation: flipped 0.5s linear 0s 1 normal forwards;
  animation: flipped 0.5s linear 0s 1 normal forwards;
}

.flipped .back {
  -webkit-animation: not-flipped 0.5s linear 0s 1 normal forwards;
  -moz-animation: not-flipped 0.5s linear 0s 1 normal forwards;
  -o-animation: not-flipped 0.5s linear 0s 1 normal forwards;
  animation: not-flipped 0.5s linear 0s 1 normal forwards;
}

.not-flipped .front {
  -webkit-animation: not-flipped 0.5s linear 0s 1 normal forwards;
  -moz-animation: not-flipped 0.5s linear 0s 1 normal forwards;
  -o-animation: not-flipped 0.5s linear 0s 1 normal forwards;
  animation: not-flipped 0.5s linear 0s 1 normal forwards;
}

.not-flipped .back {
  -webkit-animation: flipped 0.5s linear 0s 1 normal forwards;
  -moz-animation: flipped 0.5s linear 0s 1 normal forwards;
  -o-animation: flipped 0.5s linear 0s 1 normal forwards;
  animation: flipped 0.5s linear 0s 1 normal forwards;
}

.flipped .back {
  opacity: 1;
}

.hidden {
  opacity: 0;
  cursor: default;
}

.image {
  margin-top: 35px;
  margin-left: 7px;
  width: 130px;
  height: 130px;
}

.back-card-img {
  width: 100%;
  height: 100%;
}

.front, .back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  backface-visibility: hidden;
  z-index: 2;
  background-color: #525252;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateY(0deg);
}

.front.yoda {
  background-image: url(./img/front/yoda-img.png);
}

.front.r2d2 {
  background-image: url(./img/front/r2d2-img.png);
}

.front.vader {
  background-image: url(./img/front/darth-vader-img.png);
}

.back {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #525252;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.back-card-img-1 {
  background-image: url(./img/back/1.png);
}

.back-card-img-2 {
  background-image: url(./img/back/2.png);
}

.back-card-img-3 {
  background-image: url(./img/back/3.png);
}

.back-card-img-4 {
  background-image: url(./img/back/4.png);
}

.back-card-img-5 {
  background-image: url(./img/back/5.png);
}

.back-card-img-6 {
  background-image: url(./img/back/6.png);
}

.back-card-img-7 {
  background-image: url(./img/back/7.png);
}

.back-card-img-8 {
  background-image: url(./img/back/8.png);
}

.back-card-img-9 {
  background-image: url(./img/back/9.png);
}

.back-card-img-10 {
  background-image: url(./img/back/10.png);
}

.back-card-img-11 {
  background-image: url(./img/back/11.png);
}

.back-card-img-12 {
  background-image: url(./img/back/12.png);
}
